@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



/*Reset CSS*/
/*---Reset CSS*/
* {margin: 0; padding:0;}
* ,* ::before,* ::after {box-sizing:border-box;}
input, button, textarea, select{font:inherit;}
p{text-wrap:pretty;}
h1,h2,h3,h4,h5,h6 {text-wrap: balance;}
img, video,svg {height:auto; max-width:100%;}
body {min-height:100;}
/*Fuentes*/


/*---Variables CSS---*/

/*---Etiquetas---*/
body{

}
header{
  background: var(--negro);
  width: 100%;
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  height: 60px;

}

aside{

}

button{

}

main{

}

h1{

}

h2{

}

ol{

}

section{

}

footer{

}

/*---Clases del header---*/

#encabezado_logo{

}
#encabezado_menu{

}
#encabezado_paisaje{

}

/*---Clases del main---*/
.descripcion{

}
/*---Clases del article---*/

.tarjeta{

}
.tarjeta_imagen{

}
.tarjeta_traslado{

}
.tarjeta_destino{

}

/*--Clases del Footer*/
.footer__css{

}

